<!DOCTYPE html>
<html>
	<head>
		<title>Expresso Livre - {{ "Hello Dear" | trans }}</title>
        <script src="{{ asset('bundles/webclient/plugins/jquery/jquery.1.8.2.js') }}" type="text/javascript" ></script>
        <script src="{{ asset('bundles/webclient/plugins/bootstrap/jquery-ui-1.8.16.custom.min.js') }}" type="text/javascript" ></script>
		<link href="{{ asset('bundles/webclient/plugins/jquery/jquery-ui-1.8.16.custom.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ asset('bundles/webclient/plugins/jquery/jquery.ui.1.8.16.ie.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ asset('bundles/webclient/plugins/bootstrap/bootstrap.css') }}" rel="stylesheet" type="text/css" />
        <script src="{{ asset('bundles/webclient/plugins/jquery.rest/jquery.rest.js') }}" type="text/javascript" ></script>
        <script src="{{ asset('bundles/webclient/plugins/ejs/ejs.js') }}" type="text/javascript" ></script>
        <script src="{{ asset('bundles/webclient/js/API.js') }}" type="text/javascript" ></script>
        <script src="{{ asset('bundles/webclient/js/Exeption.js') }}" type="text/javascript" ></script>
        <script type="text/javascript">
            var API = new oAPI( "{{ asset('') }}app_dev.php" ,  "{{ asset('bundles/webclient') }}" );
        </script>
	</head>

    <body style="background : url({{ asset('bundles/webclient/images/logo-home.jpeg') }}) no-repeat;">    
		<p>LOGADO</p>

        <div id='msg'></div>
	</body>
</html>

