<!DOCTYPE html>
<html>
	<head>
		
		<title>Expresso Livre - {{ "Sign in" | trans }}</title>
		<script src="{{ asset('bundles/webclient/plugins/jquery/jquery-1.6.2.min.js') }}" type="text/javascript" ></script>
		<script src="{{ asset('bundles/webclient/plugins/ejs/ejs.min.js') }}" type="text/javascript" ></script>
		<script src="{{ asset('bundles/webclient/plugins/ejs/ejs.js') }}" type="text/javascript" ></script>
		<script id="login" type="text/template">
			<div class="login-page" style="display:none;">
				<div class="login-window" title="{{ "Sign in" | trans }}" style="border-radius:5px;"> 
                    <form action="{{ path("_login_check") }}" method="POST">
    					<div style="width:100%">
    						<span>{{"User :" | trans}}</span>
    						<input type="text" style="width: 100%;" name="_username"/>
    					</div>
    					<div style="width:100%">
    						<span>{{"Password :" | trans}}</span>
    						<input type="password" style="width: 100%;" name="_password"/>
    					</div>
                    </form>
				</div>
			</div>
		</script>
		<script src="{{ asset('bundles/webclient/plugins/bootstrap/jquery-ui-1.8.16.custom.min.js') }}" type="text/javascript" ></script>
		<link href="{{ asset('bundles/webclient/plugins/jquery/jquery-ui-1.8.16.custom.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ asset('bundles/webclient/plugins/jquery/jquery.ui.1.8.16.ie.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ asset('bundles/webclient/plugins/bootstrap/bootstrap.css') }}" rel="stylesheet" type="text/css" />
		<script src="{{ asset('bundles/webclient/js/init.js') }}" type="text/javascript" ></script>
	</head>

    <body style="background : url({{ asset('bundles/webclient/images/logo-home.jpeg') }}) no-repeat;">    

	</body>
</html>

